In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
criteria = [
    {'symbol': 'Pt', 'miller_index': [1, 1, 1]},
    {'symbol': 'Ru', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]},
    {'symbol': 'Ni', 'miller_index': [1, 1, 1]},
    {'symbol': 'Co', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]},
    {'symbol': 'Fe', 'miller_index': [1, 1, 0]},
    {'symbol': 'Cu', 'miller_index': [1, 1, 1]}
]

In [3]:
df = pd.read_parquet('datasets/ocp_reactions_info_df.parquet')

In [4]:
df2 = df[['ads_symbols', 'bulk_symbols', 'miller_index', 'energy']]

In [5]:
df2[
    (df2['bulk_symbols'].isin(['Pt', 'Ru', 'Ni', 'Co', 'Fe', 'Cu'])) &
    (df2['ads_symbols'] == '*C')
].head()

       ads_symbols bulk_symbols miller_index    energy
185605          *C           Ru    [1, 0, 0] -2.159905
259905          *C           Ru    [1, 1, 0] -1.312221
266199          *C           Ni    [1, 0, 0] -1.232129
291397          *C           Pt    [1, 1, 1] -0.899093
310512          *C           Fe    [1, 0, 2] -0.624686

In [6]:
merged_df = pd.DataFrame()

In [7]:
a = df2[
    (df2['bulk_symbols']=='Pt') &
    (df2['ads_symbols'] == '*C')
]

b= df2[
    (df2['bulk_symbols']=='Ru') &
    (df2['ads_symbols'] == '*C')
]

c=df2[
    (df2['bulk_symbols']=='Ni') &
    (df2['ads_symbols'] == '*C')
]

d=df2[
    (df2['bulk_symbols']=='Co') &
    (df2['ads_symbols'] == '*C')
]

e=df2[
    (df2['bulk_symbols']=='Fe') &
    (df2['ads_symbols'] == '*C')
]

f=df2[
    (df2['bulk_symbols']=='Cu') &
    (df2['ads_symbols'] == '*C')
]

In [8]:
a.shape, b.shape, c.shape, d.shape, e.shape, f.shape

((2, 4), (3, 4), (3, 4), (0, 4), (1, 4), (7, 4))

In [9]:
merged_df = pd.concat([a, b, c, d, e, f])
merged_df

       ads_symbols bulk_symbols miller_index    energy
291397          *C           Pt    [1, 1, 1] -0.899093
392825          *C           Pt    [1, 0, 0]  1.079837
185605          *C           Ru    [1, 0, 0] -2.159905
259905          *C           Ru    [1, 1, 0] -1.312221
341952          *C           Ru    [2, 1, 1] -0.144919
266199          *C           Ni    [1, 0, 0] -1.232129
353779          *C           Ni    [1, 0, 0]  0.034408
353819          *C           Ni    [1, 0, 0]  0.035189
310512          *C           Fe    [1, 0, 2] -0.624686
357109          *C           Cu    [1, 0, 0]  0.102567
363685          *C           Cu    [0, 0, 1]  0.249569
367811          *C           Cu    [1, 0, 0]  0.348856
369442          *C           Cu    [1, 0, 1]  0.390664
383477          *C           Cu    [2, 1, 0]  0.780718
400431          *C           Cu    [2, 1, 1]  1.337966
434161          *C           Cu    [1, 1, 1]  3.201780

In [10]:
import pandas as pd

# Assuming df2 is your DataFrame and it's already defined in your environment
# df2 = ...

# List of bulk symbols to filter
bulk_symbols_list = ['Pt', 'Ru', 'Ni', 'Co', 'Fe', 'Cu']

# Initialize an empty DataFrame for the merged results
merged_df = pd.DataFrame()

# Iterate through the bulk symbols, filter, and merge the results
for symbol in bulk_symbols_list:
    temp_df = df2[
        (df2['bulk_symbols'] == symbol) &
        (df2['ads_symbols'] == '*C')
    ].head(1)
    merged_df = pd.concat([merged_df, temp_df])

# Display the merged DataFrame
print(merged_df.head(len(bulk_symbols_list)))

       ads_symbols bulk_symbols miller_index    energy
291397          *C           Pt    [1, 1, 1] -0.899093
185605          *C           Ru    [1, 0, 0] -2.159905
266199          *C           Ni    [1, 0, 0] -1.232129
310512          *C           Fe    [1, 0, 2] -0.624686
357109          *C           Cu    [1, 0, 0]  0.102567

In [11]:
filtered_df = pd.DataFrame()
for crit in criteria:
    symbol = crit['symbol']
    miller_indices = crit['miller_index']
    if not isinstance(miller_indices[0], list):
        miller_indices = [miller_indices]

    for index in miller_indices:
        temp_df = df2[(df2['bulk_symbols']==symbol) & 
                     (df2['miller_index'].apply(lambda x: all([a == b for a, b in zip(x, index)]))) & 
                     (df2['ads_symbols'] == '*C')]
        temp_df = temp_df.sort_values(by='bulk_symbols').head(1)        
        filtered_df = pd.concat([filtered_df, temp_df])
        print(crit, index, temp_df)

{'symbol': 'Pt', 'miller_index': [1, 1, 1]} [1, 1, 1]        ads_symbols bulk_symbols miller_index    energy
291397          *C           Pt    [1, 1, 1] -0.899093
{'symbol': 'Ru', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]} [0, 0, 0, 1] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Ru', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]} [0, 0, 1] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Ni', 'miller_index': [1, 1, 1]} [1, 1, 1] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Co', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]} [0, 0, 0, 1] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Co', 'miller_index': [[0, 0, 0, 1], [0, 0, 1]]} [0, 0, 1] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Fe', 'miller_index': [1, 1, 0]} [1, 1, 0] Empty DataFrame
Columns: [ads_symbols, bulk_symbols, miller_index, energy]
Index: []
{'symbol': 'Cu', 'miller_index': [1, 1, 1]} [1, 1, 1]        ads_symbols bulk_symbols miller_index   energy
434161          *C           Cu    [1, 1, 1]  3.20178

In [12]:
filtered_df

       ads_symbols bulk_symbols miller_index    energy
291397          *C           Pt    [1, 1, 1] -0.899093
434161          *C           Cu    [1, 1, 1]  3.201780

In [13]:
import pickle

In [14]:
with open('datasets/reactions_info.pickle', 'rb') as f:
    loaded_list_rinfo = pickle.load(f)

In [15]:
dfc1 = pd.DataFrame(loaded_list_rinfo)

In [16]:
dfc2 = dfc1[['pkey', 'sc', 'facet', 'nre']]

In [17]:
dfc2[
    (dfc2['sc']=='Pt') &
    (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head(1)

      pkey  sc facet       nre
12134    C  Pt   111  2.222466

In [18]:
dfc2[
    (dfc2['sc']=='Ru') &
    # (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head()

      pkey  sc facet       nre
12016    C  Ru   111  2.166237
12019    C  Ru   111  1.599310
12024    C  Ru   111  3.567144

In [19]:
dfc2[
    (dfc2['sc']=='Ni') &
    # (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head()

Empty DataFrame
Columns: [pkey, sc, facet, nre]
Index: []

In [20]:
dfc2[
    (dfc2['sc']=='Co') &
    # (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head()

      pkey  sc facet       nre
42420    C  Co   111  2.292816
42428    C  Co   111  2.106999
42434    C  Co   111  3.999846

In [21]:
dfc2[
    (dfc2['sc']=='Fe') &
    # (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head()

      pkey  sc facet       nre
42410    C  Fe   111  2.313203

In [22]:
dfc2[
    (dfc2['sc']=='Cu') &
    # (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head()

      pkey  sc facet       nre
12117    C  Cu   111  4.110073
12118    C  Cu   111  4.163049
12120    C  Cu   111  5.956332

In [23]:
dfc2[
    (dfc2['sc']=='Pt') &
    (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head(1)

dfc2[
    (dfc2['sc']=='Cu') &
    (dfc2['facet'] == '111') &
    (dfc2['pkey'] == 'C')
].head(1)

      pkey  sc facet       nre
12117    C  Cu   111  4.110073

In [24]:
conditions = [
    {'sc': 'Pt', 'facet': '111', 'pkey': 'C'},
    {'sc': 'Cu', 'facet': '111', 'pkey': 'C'}
]
merged_df = pd.DataFrame()
for condition in conditions:
    temp_df = dfc2[
        (dfc2['sc'] == condition['sc']) &
        (dfc2['facet'] == condition['facet']) &
        (dfc2['pkey'] == condition['pkey'])
    ].head(1)
    
    merged_df = pd.concat([merged_df, temp_df])
print(merged_df.head())

      pkey  sc facet       nre
12134    C  Pt   111  2.222466
12117    C  Cu   111  4.110073